<%- title "About" -%>
<%- cache(:name => "about") do -%>
	<h2>About this site</h2>
	<p class='easy_read'>
    Handy Rails Tips is a place for me (Gavin Morrice) to offload and share everything I learn as I work with Ruby and Rails.
    
    Feel free to leave a comment or get in touch - gavin {at} thinkersplayground {dot} com
	</p>
	<p class='easy_read'>
		<ul style='width: 85%; margin: 0 auto'>
			<%- @externals_hash.each do |name, url| -%>
				<li><%= link_to name, url, :rel => "external" %></li>
			<%- end -%>
		</ul>
	</p>
<%- end -%>