<%- title "Advertise" -%>
<h3>Advertise here</h3>
<p class='easy_read'>
	If you saw the ads here, chances are your customers will too.<br />
	To find out more about advertising here, please email me at<br /> 
	<strong>handyrailstips{at}gmail{dot}com</strong>
</p>