<%- title "Contribute" -%>
<%- cache "contribute" do -%>
	<h2>Contribute</h2>
	<p class='easy_read'>
		If you'd like to submit a tip or tutorial of your own, feel free to <%= link_to "create an account", signup_path %> and start writing.<br />Be sure to check out <%= link_to "previous tips", tips_path %> though, incase the topic has already been covered. <br />Writing a tip is really easy, read the <%= link_to "help page" %> for more info on how to do it.
		
	</p>
<%- end -%>