<%- title "Terms Of Use" -%>
<h3>Terms of use</h3>
<p class='easy_read'>
	The terms of use are simple...
</p>
<p class='easy_read'>
	<strong>Content Use</strong><br />
	Feel free to take advantage of the tips posted here and adapt them to suit your needs but ensure the
	author is always credited and the url included when reproducing any content from this site publicly or
 	commercially.
	</p>
<p class='easy_read'>
	You acknowledge that using the information on this site is at your own risk. Although it is unlikely
	that the information on this site will cause any harm to your own software/hardware, neither the 
	author nor the administrator of this site will be held liable.
</p>
<p class='easy_read'>
	<strong>Offensive content</strong><br />
	Although debate and disagreement may happen from time to time, as a user you are expected to act 
	in a civil manner when posting tips or commenting on other's tips. If not your account may be 
	closed and your IP address blocked from accessing this site in future. 
</p>
<p class='easy_read'>
	While the administrator of this site will attempt to remove any offensive or objectionable tips and
	comments as quickly as possible, it is impossible to review each one right away. Therefore, you
	acknowledge that all tips and comments on this site express the views and opinions of the author and 
	not the administrator and hence will not be held liable.
</p>
<p class='easy_read'>
	All users of this site are requested to assist in removing offensive material or spam by being
	vigilant. Should you find something inappropriate on this site, please use the "report spam" and 
	"flag as inappropriate" links or contact means provided.
</p>
<p class='easy_read'>
	<strong>Privacy</strong><br />
	Any correspondence you send to this site via email, through a subscription request or by 
	any other means, is kept 100% private. Your email address, name, and other identifying information is
	never released to any third parties. The underlying email system that I use is gmail so it's Google's
	security that you're getting.
</p>
<p class='easy_read'>
	As a user you agree to any information you enter on this web site being stored in a database. You 
	may also be asked to provide your email address when contributing to the site. Your email address 
	will never be displayed publicly but may be viewed by the administrator of this site to allow us to
	contact you should it be necessary. You can choose to make your email address visible to other
	logged-in users by changing the settings on the edit profile page.  
</p>
<p class='easy_read'>
	While this information will not be disclosed to any third party without your consent, the webmaster
	cannot be held responsible for any hacking attempt that may lead to the data being compromised.
</p>
<p class='easy_read'>
	<strong>Links</strong><br />
	This site may link to several sites and display advertisements. We do not vouch for the security 
	and/or privacy policies on those sites nor do we accept any liability for anything you purchase or
	download from the sites we link to.
</p>
<p class='easy_read'>
	Please perform due diligence before signing up for anything or providing personal information to any 
	other sites on the Internet.
</p>