<p>
	Thanks for subscribing! Your email address has been added to the mailing list.
	<br />
	To unsubscribe from this mailing list simply reply to this email with "unsubscribe"<br />
	<%= link_to "handyrailstips.com", "http://handyrailstips.com" %>
</p>
