<p>
	Hi <%= @user.username %><br />
	<br />
	Thanks for signing up.<br />
</p>
<p>
	To start writing your first tip, log in and follow the 'write a tip' link from your profile page.
	If you need a few pointers on how to write and style your tip 
	<%= link_to 'read this', "http://handyrailstips.com/help#redcloth" %>.
</p>
<p>
	This project is new so I'd really love to hear any feedback you can offer on how it can be improved.<br />
	Thanks<br />
	<br />
	Gavin
	<br />
	<%= link_to "handyrailstips.com", "http://handyrailstips.com/" %>.
</p>