body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
a{text-decoration:none;}


.align_left{text-align:left}
.align_center{text-align:center}
.align_right{text-align:right}
.smaller{font-size:smaller}
.larger{font-size:larger}
.current,.underline{text-decoration:underline}
.uppercase{text-transform:uppercase}
.lowercase{text-transform:lowercase}
.easy_read{line-height:1.8em;color:#333;word-spacing:0.2em;letter-spacing:0.05em;margin:1em 0;}
.disabled,.hidden{display:none}
.silver_top{border-top:thin solid silver;padding-top:0.2em;}
.eighty{width:80%;margin:0 auto;}
.silver_bottom{border-bottom:thin solid silver;padding-top:0.2em;}
.grey{color:#777}
.formError,.red{color:#E77;}
.larger{font-size:1.2em;}
.clear_both{clear:both;}
.float_left{float:left;}
.float_right{float:right;}
hr{height:0;width:90%;border-top:thin solid #BBB;border-bottom:none;padding:0;}
em{font-style:italic;}
strong{font-weight:bold;}


html{font-family:verdana,helvetica,sans-serif;font-size:15px;height:100%;}
body{height:100%;color:#222222;background-color:#f6f9f9;}
a{border:none;outline:none;color:#4183c4;}
a:hover{border:none;outline:none;}
a:active{border:none;outline:none;}
a:focus{border:none;outline:none;}
div#wrapper{width:100%;min-height:100%;height:auto !important;margin:0 auto -4em;}
div#header_div{height:80px;min-width:960px;width:auto !important;width:100%;background:#780101 url(/images/black-red.gif) 0 0 repeat-x;border-top:0.3em solid #333333;border-bottom:0.2em solid #222222;}
h1#main_header{margin-left:2em;height:100%;width:460px;background-color:transparent;float:left;}
h1#main_header:hover{background-color:transparent;}
h2{font-size:1.4em;font-weight:bold;color:inherit;}
h3{font-weight:bold;}
div#subscription_div{background:transparent;float:right;margin:0.5em 4em auto auto;width:14em;}
form#subscribe_form{width:13.5em;margin:0.5em 0;height:auto;background:#ffffff;border-top:0.2em solid #331111;border-right:0.2em solid #773333;border-bottom:0.2em solid #773333;border-left:0.2em solid #331111;}
#subscriber_email{color:#777777;font-size:1em;width:10em;height:18px;padding:2px;border-width:0;}
#subscriber_email:focus{color:#777777;font-size:1em;width:10em;height:18px;padding:2px;border-width:0;}
#submit_subscriber{background:#ffffff url(/images/mail.gif) 50% 1px no-repeat;height:20px;width:33px;border:none;margin:0 0.2em;cursor:pointer;}
div#rss_div{width:100%;margin:auto;background-color:transparent;height:auto;}
#rss_div:hover{border-bottom:thin dotted #dddddd;}
div#navbar{height:auto;min-width:960px;width:auto !important;width:100%;padding:0.4em 0;background:#333333;border-bottom:0.2em solid #dddddd;overflow:auto;}
#navbar ul{width:auto;float:right;margin-right:2em;}
#navbar ul li{float:left;display:block;width:9em;text-align:center;padding:0.2em 0;border-left:thin solid #666666;}
#navbar ul li#first_li{border-left:none;}
#navbar ul li:hover{background:#555555;}
#navbar ul li a{display:inline-block;width:100%;color:#dddddd;}
div#content{width:100%;margin:0;padding:0;background:#f6f9f9 url(/images/grad.png) repeat-x scroll left top;border-bottom:thin solid #111111;}
#collapse{padding:0;margin:0 auto;width:72em;}
h2{padding:2em 0 0;}
div#yield{text-align:left;float:left;margin:0 auto 0;width:50em;padding:1em 0;}
div#right_bar{float:right;text-align:left;width:14em;padding:0 1em;}
div#push{height:4em;clear:both;}
div#footer{min-width:960px;width:auto !important;width:100%;height:4em;background:#444444;border-top:0.3em solid #353535;color:#dddddd;border-bottom:thin solid #444444;}
#footer p{margin:1em 4em;display:inline-block;}
div.user p{margin:0.2em 0;}
.tip_title_link{color:#990000;font-size:1.6em;}
.tip_title_link:visited{color:#773333;border-bottom:none;}
.tip_title_link:active{color:#333377;}
.tip_title_link:hover{color:#333377;}
.tip_title_link:focus{color:#333377;}
#tip_body_div p{line-height:1.8em;word-spacing:0.3em;letter-spacing:0.01em;margin:1.2em 0;}
div.listed_tip{margin:3em auto;}
div.tip_number{float:left;width:10%;font-weight:bold;color:#777777;padding-top:3em;}
div.tip{float:right;width:90%;}
#tip_body_div ul{list-style:disc;}
#tip_preview{width:100%;}
#tip_body_div ul li{margin:1em;}
div.tip p{line-height:1.6em;word-spacing:0.5em;letter-spacing:0.01em;}
label{text-transform:lowercase;}
fieldset{border-bottom:thin solid #cccccc;width:100%;}
legend{color:#444444;}
p.submit{margin:1em auto;text-align:center;}
form#login_form{width:28em;margin:4em auto 0;}
form#new_tip,form.edit_tip{width:100%;}
#tip_title{font-size:1.2em;}
#tip_body{width:100%;height:15em;border:thin solid silver;}
#preview_tip{height:15em;overflow:auto;clear:both;}
form#new_user,form.edit_user{width:30em;margin:2em auto;}
#user_about{height:10em;}
#new_user p{margin:1.2em 0;}
.edit_user p{margin:1.2em 0;}
#login_form p{margin:1.2em 0;}
.edit_user label[for='user_email']{float:left;width:8em;text-align:right;}
.edit_user label[for='user_url']{float:left;width:8em;text-align:right;}
.edit_user label[for='user_old_password']{float:left;width:12em;text-align:right;margin:0 0.2em 0 0;}
.edit_user label[for='user_password']{float:left;width:12em;text-align:right;margin:0 0.2em 0 0;}
.edit_user label[for='user_password_confirmation']{float:left;width:12em;text-align:right;margin:0 0.2em 0 0;}
.edit_user #user_old_password{width:14em;}
.edit_user #user_password{width:14em;}
.edit_user #user_password_confirmation{width:14em;}
#new_user label{float:left;width:14em;text-align:right;margin:0 0.2em 0 0;}
form#login_form label{float:left;width:14em;text-align:right;margin:0 0.2em 0 0;}
#new_user input[type='text']{width:12em;}
#new_user input[type='password']{width:12em;}
#login_form input[type='text']{width:12em;}
#login_form input[type='password']{width:12em;}
#new_user p.check_box label{width:24em;}
.edit_user p.check_box label{width:26em;margin:0 0.2em 0 0;text-align:left;}
#cse-search-box input[type="text"]{margin:3em auto 0;width:12em;height:18px;}
div.flash,.errorExplanation{color:#444444;text-align:center;margin:0 auto 1em;padding:0.5em 2em 2em;font-size:0.9em;width:70%;}
div.error,.errorExplanation{background:#fff3d2;border:thin solid #f5ad00;}
div.warning{background:#ffccbb;border:thin solid #ff9999;}
div.notice{background:#eeffcc;border:thin solid #6cb83a;}
.field_with_errors{background:#ffccbb;}
#tips_list{}
#tips_list li{margin:1em 0;}
#tips_list li a:hover{color:#900;}
h3.archive{margin:1em 0;}

pre{background:#111111;color:#ffffff;padding:0.2em;height:auto;width:100%;overflow:auto;}
div.code{margin:0.2em;font-size:1em;}
div.ruby_code span.r{color:#bf7833;}
div.ruby_code span.fu{color:#fbc66d;}
div.ruby_code span.k{color:#a5c261;}
div.ruby_code span.i{color:#a5c261;}
div.ruby_code span.fl{color:#a5c261;}
div.ruby_code span.dl{color:#a5c261;}
div.ruby_code span.ch{color:#519f50;}
div.ruby_code span.cl{color:#ffffff;}
div.ruby_code span.idl{color:#ffffff;}
div.ruby_code span.il{color:#ffffff;}
div.ruby_code span.co{color:#c73c30;}
div.ruby_code span.c{color:#b39258;font-style:italic;}
div.ruby_code span.iv{color:#d0c6f0;}
div.ruby_code span.cv{color:#d0c6f0;}
div.ruby_code span.sy{color:#6e9cb5;}
div.ruby_code span.pc{color:#d0c6f0;}
div.ruby_code span.ta{color:#fbc66d;}
div.ruby_code span.an{color:#fbc66d;}
div.ruby_code span.kw{color:#fbc66d;}
div.ruby_code span.ke{color:#6e9cb5;}
div.ruby_code span.vl{color:#a5c261;}
div.ruby_code span.cr{color:#6e9cb5;}
div.rhtml_code span.an{color:#fbc66d;}
div.rhtml_code span.dl{color:#a5c261;}
div.rhtml_code span.idl{color:#ffffff;}
div.rhtml_code span.il{color:#ffffff;}
div.rhtml_code span.iv{color:#d0c6f0;}
div.rhtml_code span.k{color:#a5c261;}
div.rhtml_code span.r{color:#bf7833;}
div.rhtml_code span.s{color:#ffffff;}
div.rhtml_code span.sy{color:#6e9cb5;}
div.rhtml_code span.ta{color:#fbc66d;}
div.css_code span.k{color:#a5c261;}
div.css_code span.c{color:#b39258;}
div.css_code span.cl{color:#fbc66d;}
div.css_code span.co{color:#fbc66d;}
div.css_code span.cr{color:#6e9cb5;}
div.css_code span.fl{color:#a5c261;}
div.css_code span.ke{color:#6e9cb5;}
div.css_code span.kw{color:#fbc66d;}
div.css_code span.vl{color:#a5c261;}
div.yaml_code span.c{color:#b39258;}
div.yaml_code span.ke{color:#fbc66d;}
div.yaml_code span.s{color:#a5c261;}
