div.yaml_code span.c { color: #B39258; }
div.yaml_code span.s { color: #A5C261; }
div.yaml_code span.ke { color: #E8BF6A; }
div.yaml_code { }
pre { overflow: auto; background: #111111; color: #FFFFFF; padding: 0.2em; height: auto; width: 100%; }
div.ruby_code span.c { color: #B39258; font-style: italic; }
div.ruby_code span.ch { color: #519F50; }
div.ruby_code span.sy { color: #6E9CB5; }
div.ruby_code span.fl { color: #A5C261; }
div.ruby_code span.idl { color: #FFFFFF; }
div.ruby_code span.pc { color: #D0C6F0; }
div.ruby_code span.cv { color: #D0C6F0; }
div.ruby_code span.dl { color: #A5C261; }
div.ruby_code span.cl { color: #FFFFFF; }
div.ruby_code span.r { color: #BF7833; }
div.ruby_code span.vl { color: #A5C261; }
div.ruby_code span.kw { color: #E8BF6A; }
div.ruby_code span.co { color: #C73C30; }
div.ruby_code span.i { color: #A5C261; }
div.ruby_code span.an { color: #E8BF6A; }
div.ruby_code span.ta { color: #E8BF6A; }
div.ruby_code span.iv { color: #D0C6F0; }
div.ruby_code span.il { color: #FFFFFF; }
div.ruby_code span.k { color: #A5C261; }
div.ruby_code span.cr { color: #6E9CB5; }
div.ruby_code span.ke { color: #6E9CB5; }
div.ruby_code span.fu { color: #E8BF6A; }
div.ruby_code { }
div.rhtml_code span.sy { color: #6E9CB5; }
div.rhtml_code span.idl { color: #FFFFFF; }
div.rhtml_code span.dl { color: #A5C261; }
div.rhtml_code span.r { color: #BF7833; }
div.rhtml_code span.s { color: #FFFFFF; }
div.rhtml_code span.ta { color: #E8BF6A; }
div.rhtml_code span.iv { color: #D0C6F0; }
div.rhtml_code span.an { color: #E8BF6A; }
div.rhtml_code span.k { color: #A5C261; }
div.rhtml_code span.il { color: #FFFFFF; }
div.rhtml_code { }
div.css_code span.c { color: #B39258; }
div.css_code span.fl { color: #A5C261; }
div.css_code span.cl { color: #E8BF6A; }
div.css_code span.vl { color: #A5C261; }
div.css_code span.kw { color: #E8BF6A; }
div.css_code span.co { color: #E8BF6A; }
div.css_code span.k { color: #A5C261; }
div.css_code span.ke { color: #6E9CB5; }
div.css_code span.cr { color: #6E9CB5; }
div.css_code { }
div.code { font-size: 1em; margin: 0.2em; }