/*colors:
blue #0D5FEF
green #6CB83A
orange #F5AD00 
purple #EC53AD*/
html {
	font-family: Verdana;
	font-size: 13px;
	height: 100%;
	background: #FFFFFF;
}
body {
	height: 100%;
	width: 100%;
}
th{font-weight: bold;}
hr{
	border:none;
	border-top: thin solid silver;
	margin: 0.4em;
	padding: 0;
}
input[type='input']{
	font-size: 0.9em;
	padding: 0.2em;
}
input[type='submit']{
	font-size: 0.8em;
	padding: 0.2em 0.4em;
}
textarea{
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
}
label{font-size: 0.9em;}
a, a:visited {
	color: #0D5FEF;
	text-decoration: none;
}
a:active, a:hover, a:focus {
	color: #6CB83A;
	text-decoration: none;
}
.tip_title_link {color: #6CB83A}
.tip_title_link:visited {color: #6CB83A}
.tip_title_link:active, .tip_title_link:hover, .tip_title_link:focus {color: #F5AD00}
ul{list-style-type: disc}
ol{list-style-type: decimal}
li{margin: 0 0 0 1.4em}
strong{font-weight: 600}
em{font-style: italic}
table.search{margin: 0 auto}
table.search caption{text-align: center}
table.search th{text-align: center}
table.search td{padding: 0 4em}
/*start layout*/
div#wrap {
	background: transparent url('/images/background.png') 0 0.4em repeat-x;
	width: 100%;
	text-align: center;
}
div#content {
	width: 58em;
	height: auto;
	margin: 0 auto;
	background: transparent;
	text-align: left;
}
div#login{
	height: 1.5em;
	width: 100%;
	text-align: right;
	font-size: 0.8em;
	margin: 0 0 2em;
}
h1#main_header{
	font-size: 3em;
}
h3{
	text-align: center;
	font-size: 1.6em;
	clear:both;
}
#color_squares{
	margin: 1.2em auto;
	width: 464px;
	height: 17px;
}
.blue_background{background: #0D5FEF url(/images/blue2.png) 0 0 repeat-x;}
.green_background{background: #6CB83A url(/images/green.png) 0 0 repeat-x;}
.orange_background{background: #F5AD00 url(/images/orange.png) 0 0 repeat-x;}
.purple_background{background: #EC53AD url(/images/purple.png) 0 0 repeat-x;}
div#navbar{
	height: auto;
	padding: 0.3em;
	margin: 0 0 0.4em;
}
ul#nav_links{
	width: 42em;
	float:left;
	list-style: none;
	padding: 0;
	margin: 0;
}
ul#nav_links li{
	float: left;
	width: 9.6em;
	margin: 0 0.2em;
	padding: 0;
}
#nav_links li span{
	display: block;
	background: #fff;
	margin: 0 0 0.2em 0;
}
#nav_links li a{
	display: block;
	background: #fff;
	margin: 0 0 0.2em 0;
	width: auto;
	height: auto;
	color: #333333;
}

/*nav links*/
#home_link:hover{color: #0D5FEF}
#tips_link:hover{color: #6CB83A}
#about_link:hover{color: #F5AD00}
#contact_link:hover{color: #EC53AD}

img.rss_image{height: 1em;margin: 0 0.2em -0.1em}

div#the_meaty_bit{
	clear: both;
	width: auto;
	min-height: 32em;
	height: auto;
}

div#yield {
	width: 42em;
	height: auto;
	float: left;
	background: inherit;
	padding: 2em 0 2em 0;
}

div#right{
	float: left;
	width: 14.5em;
	height: auto;
	margin: 0 0 0 0.5em;
}

div#footer{
	clear: both;
	margin: 0 auto 0;
	text-align: center;
	font-size: 1em;
	width: 100%;
	height: auto;
	position: relative;
	bottom: 0;
	padding: 1em 0 0 0;
}

#footer a{
	width: 100%;
	height: 2em;
	margin: 0 auto;
}

/*end layout*/

/*start generic classes*/
.easy_read{
	color: #222;
	line-height: 2em;
	word-spacing: 0.3em;
	margin: 1.6em auto;
	width: 85%;
}
.odd{background: #FFFFFF}
.even{background: #E7E7FA}
.clear_both{clear:both}
.align_center{text-align:center}
.align_left{text-align:left}
.align_right{text-align:right}
.float_left{float:left}
.float_right{float:right}
.smaller{font-size: smaller}
.larger{font-size: larger}
.form_error{color: red}
.grey{color: #999}
.disabled{display: none}
/*end generic classes*/

/*start forms*/
p.submit{
	margin: 1em auto;
	text-align: center;
}
form[action="/forgot_password/send_email"]{
	margin: 5em auto;
	width: 30em;
}
form[action="/forgot_password/send_email"] label{
	margin: 0 0.2em 0 0;
}
form[action="/forgot_password/send_email"] p{
	margin: 1em 0;
}
form#new_subscriber{
	margin: 4em 0 1em;
}
#new_comment p{
	margin: 1.2em 0;
}
#new_comment p label{
	width: 13em;
	text-align:right;
	float:left;
	margin: 0 0.2em 0 0;
}
#captcha{margin: -1em 0 0 0}
img[alt='simple_captcha.jpg']{
	margin: -0.6em 0 0 0;
	height: 1.8em;
}

#new_comment input[type='text']{
	width: 20em;
}
#new_comment label[for='comment_body']{
	padding: 4em 0 0 0;
}
#comment_body {
	width: 26em;
	height: 10em;
}
form#login_form{
	width: 24em;
	margin: 4em auto 0 2em;
}
form#new_tip, form.edit_tip{
	width: 100%;
}
#tip_body{
	width: 100%;
	height: 15em;
	border-width: thin 0 thin 0;
	border-color: silver;
	border-style: solid;
}
#preview_tip{
	height: 15em;
	width: 100%;
	overflow: auto;
	clear: both;
}
form#new_user, form.edit_user{
	width: 30em;
	margin: 2em auto;
}
#user_about{
	height: 10em;
}
#new_user p,
.edit_user p,
#login_form p{
	margin: 1.2em 0;
}

.edit_user label[for='user_email'],
.edit_user label[for='user_url']{
	float:left;
	width: 8em;
	text-align: right;
}
.edit_user label[for='user_old_password'],
.edit_user label[for='user_password'],
.edit_user label[for='user_password_confirmation']{
	float:left;
	width: 12em;
	text-align: right;
	margin: 0 0.2em 0 0;
}
.edit_user #user_old_password,
.edit_user #user_password,
.edit_user #user_password_confirmation{
	width: 14em;
}
#new_user label, 
form#login_form label{
	float: left;
	width: 14em;
	text-align: right;
	margin: 0 0.2em 0 0;
}
#new_user input[type='text'], 
#new_user input[type='password'],
#login_form input[type='text'], #login_form input[type='password']{
	width: 12em;
}

#new_user p.check_box label{
	width: 24em;
}
.edit_user p.check_box label{
	width: 26em;
	margin: 0 0.2em 0 0;
	text-align: left;	
}

#search_criterion{
	width: 10em;
	color: #aaa;
	float:left;
}

#subscriber_email {
	width: 10em;
	color: #aaa;
}
#new_feedback{
	margin: 2em auto;
	width: 30em;
}
#feedback_message{
	width: 100%;
	height: 15em;
	margin: 1em 0;
}
/*end forms*/

/*start partials*/
div.ad{margin: 1.4em 0;clear: both}
div.gravatar_image{margin: 0 0.2em 0 0;float: left}
div.user p{margin: 0.2em 0}
div.tip{
	width: auto;
	margin: 2em 1em;
	background: #FFFFFF;
}
.tip p{
	color: #222;
	line-height: 1.2em;
	word-spacing: 0.3em;
	margin: 1.2em 0
}
div.comment{
	clear:both;
	margin: 1.5em auto;
	width: 35em;
	min-height: 6em;
	padding: 0.4em;
	background: #E3E3FA;
}
div.comment_inner{width: 29em;float: left}
div.comment pre{
	font-family: inherit;
	background: inherit;
	color: inherit;
}

/*end partials*/

div.spacer{width: 100%;height: 5em;}
div#tip_body_div p, #preview_tip p{
	color: #222;
	line-height: 2em;
	word-spacing: 0.3em;
	margin: 1.6em 0;
}

/*flash notices*/
div.flash, .errorExplanation {
	color: #444;
	text-align: center;
	margin: 0 auto 1em;
	padding: 0.5em 2em 2em;
	font-size: 0.9em;
	width: 70%;
}
div#error, .errorExplanation{background :#FFF3D2;border: thin solid #F5AD00}
div#warning{background: #fcb;border: thin solid #f99}
div#notice{background: #efc;border: thin solid #6CB83A}

.field_with_errors{background: #fcb}