<%- title "Manage Users" -%>
<%- form_tag do -%>
	<p><%= label_tag :find, "Find user" %><%= text_field_tag :criterion %></p>
	<%= observe_field :criterion, 
		:url => {:action => "return_results"},
		:frequency => 0.25,
		:update => "list_of_users",
		:with => "q" %>
<%- end -%>
<div id="list_of_users">
	<%= render :partial => "user", :collection => @users %>
</div>