<% title "Provide Feedback" %>
<%= content_tag :h2, "Contact Me" %>
<% form_for @feedback do |f| %>
  <%= f.error_messages %>
  <p>If you'd like to offer some feedback, suggestions or report a problem with this site please write your message below.<br />
	I'll get back to you as soon as possible.
    <%= f.text_area :message %>
  </p>
  <p class='submit'><%= f.submit "send feedback", :disable_with => "sending feedback..." %></p>
<% end %>