<% title "Edit Tip ##{@tip.id}" %>
<% form_for @tip do |f| %>
	<%= render :partial => 'form', :locals => {:f => f} %>
	<p class='submit'><%= f.submit "save changes", :disable_with => "saving changes..." %></p>
<% end %>
